<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{LayoutAdmin}" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
</head>
<body>
<div class="container-fluid" layout:fragment="Content">

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-center align-items-center">
            <h6 class="m-0 font-weight-bold text-primary mr-auto">Danh sách danh mục</h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataCategoryTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tên Máy Tính</th>
                        <th>Giá</th>
                        <th>Số lượng tồn kho</th>
                        <th>Mã Giảm Giá</th>
                        <th>Hãng</th>
                        <th>Mô tả</th>
                        <th>Cập nhật</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody th:each="product :${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantityStock}"></td>
                        <td th:text="${product.discountId.discount}">
                        <td th:text="${product.categoryId.name}"></td>
                        <td th:text="${product.description}"></td>
                        <td>
                        <span sec:authorize="hasAnyAuthority('EMPLOYEE', 'ADMIN')">
                            <a th:href="@{/admin/Products/edit/{id}(id=${product.id})}"
                               class="btn btn-success btn-sm" >Cập nhật</a>
                        </span>
                        </td>
                        <td>
                        <span sec:authorize="hasAnyAuthority('ADMIN')">
                            <a th:href="@{/admin/Products/delete/{id}(id=${product.id})}"
                               class="btn btn-danger btn-sm">Xóa</a>
                        </span>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>