<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{Layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <link rel="stylesheet" th:href="@{output.css}">
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
</head>
<body>
<div class="bg-zinc-100 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100 p-4"  th:object="${product}">
    <div class="container-fluid" layout:fragment="Content1">
    <main class="max-w-6xl mx-auto py-8">

        <nav class="text-sm mb-4">
            <a th:href="@{/}" class="text-zinc-600 dark:text-zinc-300 hover:text-black dark:hover:text-white">Trang trủ</a>>
            <a th:href="@{/Detail/{id}(id=${product.id})}" class="text-zinc-600 dark:text-zinc-300 hover:text-black dark:hover:text-white">Chi tiết sản phẩm</a>>
            <a class="text-zinc-600 dark:text-zinc-300 hover:text-black dark:hover:text-white" th:text=${product.name}></a>
        </nav>

        <section class="grid md:grid-cols-2 gap-8">

            <div class="space-y-4 relative">
                <div class="relative">
                    <img th:src="@{${product.images[0]}}" alt="Product Image" class="w-full rounded-lg" id="hinh" onclick="openLightbox(this)" src="">
                    <i class="bi bi-arrow-left-circle absolute left-2 top-1/2 transform -translate-y-1/2 cursor-pointer" style="font-size: 25px;display:none; " onclick="prevImage()"></i>
                    <i class="bi bi-arrow-right-circle absolute right-2 top-1/2 transform -translate-y-1/2 cursor-pointer" style="font-size: 25px; display:none;" onclick="nextImage()"></i>
                </div>
                <div class="flex space-x-2">
                    <img th:src="@{${product.images[0]}}" alt="Thumbnail 1" class="w-20 h-20 rounded-lg" onclick="openLightbox(this)">
                    <span th:if="${product.images.size() >= 2}">
                        <img th:src="@{${product.images[1]}}" alt="Thumbnail 2" class="w-20 h-20 rounded-lg" onclick="openLightbox(this)">
                    </span>
                    <span th:if="${product.images.size() >= 3}">
                        <img th:src="@{${product.images[2]}}" alt="Thumbnail 3" class="w-20 h-20 rounded-lg" onclick="openLightbox(this)">
                    </span>
                    <span th:if="${product.images.size() >= 4}">
                        <img th:src="@{${product.images[3]}}" alt="Thumbnail 4" class="w-20 h-20 rounded-lg" onclick="openLightbox(this)">
                    </span>
                </div>
                <div class="lightbox" style="display: none;">
                    <div class="overlay" style="width: 100vw; height: 100vh; background-color: #000; opacity: 0.7; position: fixed; top: 0; left: 0; z-index: 100;" onclick="closeLightbox()"></div>
                    <img id="lightboxImage" src="" alt="Product Image" class="w-full rounded-lg" style="width: 50%; position: fixed; left: 25%; z-index: 120; top: 50px;">
                    <button onclick="closeLightbox()" style="position: fixed; top: 20px; right: 20px; z-index: 130;">Close</button>
                </div>
            </div>

            <script>
<!--phóng to ảnh-->
                function openLightbox(element) {
                    const imageSrc = element.src;
                    const lightbox = document.querySelector('.lightbox');
                    const lightboxImage = document.getElementById('lightboxImage');

                    lightboxImage.src = imageSrc;
                    lightbox.style.display = 'block';
                }

                function closeLightbox() {
                    const lightbox = document.querySelector('.lightbox');
                    lightbox.style.display = 'none';
                }



<!-- di chuột vào để hiện nút mũi tên-->

                var imgContainer = document.querySelector('.relative');
        imgContainer.addEventListener('mouseenter', function() {
            var arrows = imgContainer.querySelectorAll('.bi');
            arrows.forEach(function(arrow) {
                arrow.style.display = 'block';
            });
        });
        imgContainer.addEventListener('mouseleave', function() {
            var arrows = imgContainer.querySelectorAll('.bi');
            arrows.forEach(function(arrow) {
                arrow.style.display = 'none';
            });
        });
            </script>

            <script th:inline="javascript">
                 /*<![CDATA[*/
                // Lấy danh sách images từ model product và chuyển đổi thành mảng JavaScript
                var arr_hinh = /*[[${product.images}]]*/ [];
                /*]]>*/
            </script>
            <script>
                var index = 0;
                function prevImage(){
                index--;
                if(index < 0) index = arr_hinh.length-1;
                document.getElementById("hinh").src = arr_hinh[index];
                }
                function nextImage(){
                index++;
                if(index == arr_hinh.length) index=0;
                 document.getElementById("hinh").src = arr_hinh[index];
                }

            </script>

            <div>
                <h1 class="text-2xl font-bold" th:text="${product.name}"></h1>
                <div class="flex items-center space-x-2 mb-4">
                    <span class="text-yellow-500">★★★★☆</span>
                    <span>4/5</span>
                </div>
                <div class="flex items-center space-x-4 mb-4" th:if="${product.priceDiscount > 0}">
                         <span class="text-2xl font-bold" th:text="${product.priceDiscount} +' VNĐ'"></span>
                        <span class="line-through text-zinc-500" th:text="${product.price} +' VNĐ'"></span>
                        <span class="text-red-500" th:text="'-'+${product.discountId.discount}+'%'"></span>
                </div>
                <div class="flex items-center space-x-4 mb-4" th:unless="${product.priceDiscount > 0}">
                    <span class="text-2xl font-bold" th:text="${product.price} +' VNĐ'"></span>
                </div>
                <h1 class="text-2xl font-bold" th:text="'Số Lượng Tồn: '+${product.quantityStock}"></h1>
                <p class="mb-4" th:text="${product.description}"></p>
                <form th:action="@{/cart/add}" method="post">
                    <div class="flex items-center space-x-4">
                        <div class="flex items-center">
                            <input type="number" step="1" value="1" name="quantity" min="1" th:max="${product.quantityStock}" class="form-control d-inline-block"  style="width: 70px;color: black; background-color: white;" >
                            <input type="hidden" th:value="${product.id}" name="itemId">
                        </div>
                        <button type="submit" class="bg-black text-white rounded-lg px-6 py-2">Thêm vào giỏ hàng</button>
                    </div>
                </form>
            </div>
        </section>

        <section class="mt-8" >
            <h2 class="text-xl font-bold mb-4">Các Sản Phẩm Tương Tự</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow" th:if="${list.size() >= 1}">
                    <img th:src="@{${list[0].images[0]}}" alt="Product 1" class="w-full rounded-lg mb-2">
                    <a th:href="@{/Detail/{id}(id=${list[0].id})}">
                        <h3 class="text-lg font-bold" th:text="${list[0].name}"></h3>
                    </a>
                    <div class="flex items-center space-x-2 mb-2">
                        <span class="text-yellow-500">★★★★☆</span>
                        <span>4/5</span>
                    </div>
                    <div class="flex items-center space-x-2" th:if="${list[0].priceDiscount > 0}">
                        <span class="text-xl font-bold" th:text="${list[0].priceDiscount} +' VNĐ'"></span>
                        <span class="line-through text-zinc-500" th:text="${list[0].price} +' VNĐ'"></span>
                        <span class="text-red-500" th:text="'-'+${list[0].discountId.discount}+'%'"></span>
                    </div>
                    <div class="flex items-center space-x-2" th:unless="${list[0].priceDiscount > 0}">
                        <span class="text-xl font-bold" th:text="${list[0].price} +' VNĐ'"></span>
                    </div>
                </div>
                <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow" th:if="${list.size() >= 2}">
                    <img th:src="@{${list[1].images[0]}}" alt="Product 2" class="w-full rounded-lg mb-2">
                    <a th:href="@{/Detail/{id}(id=${list[1].id})}">
                        <h3 class="text-lg font-bold" th:text="${list[1].name}"></h3>
                    </a>
                    <div class="flex items-center space-x-2 mb-2">
                        <span class="text-yellow-500">★★★★☆</span>
                        <span>4/5</span>
                    </div>
                    <div class="flex items-center space-x-2" th:if="${list[1].priceDiscount > 0}">
                        <span class="text-xl font-bold" th:text="${list[1].priceDiscount} +' VNĐ'"></span>
                        <span class="line-through text-zinc-500" th:text="${list[1].price} +' VNĐ'"></span>
                        <span class="text-red-500" th:text="'-'+${list[1].discountId.discount}+'%'"></span>
                    </div>
                    <div class="flex items-center space-x-2" th:unless="${list[1].priceDiscount > 0}">
                        <span class="text-xl font-bold" th:text="${list[1].price} +' VNĐ'"></span>
                    </div>
                    </div>
                <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow" th:if="${list.size() >= 3}">
                    <img th:src="@{${list[2].images[0]}}" alt="Product 3" class="w-full rounded-lg mb-2">
                    <a th:href="@{/Detail/{id}(id=${list[2].id})}">
                        <h3 class="text-lg font-bold" th:text="${list[2].name}"></h3>
                    </a>
                    <div class="flex items-center space-x-2 mb-2">
                        <span class="text-yellow-500">★★★★☆</span>
                        <span>4/5</span>
                    </div>
                    <div class="flex items-center space-x-2" th:if="${list[2].priceDiscount > 0}">
                        <span class="text-xl font-bold" th:text="${list[2].priceDiscount} +' VNĐ'"></span>
                        <span class="line-through text-zinc-500" th:text="${list[2].price} +' VNĐ'"></span>
                        <span class="text-red-500" th:text="'-'+${list[2].discountId.discount}+'%'"></span>
                    </div>
                    <div class="flex items-center space-x-2" th:unless="${list[2].priceDiscount > 0}">
                        <span class="text-xl font-bold" th:text="${list[2].price} +' VNĐ'"></span>
                    </div>
                </div>
                <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow" th:if="${list.size() >= 4}">
                    <img th:src="@{${list[3].images[0]}}" alt="Product 4" class="w-full rounded-lg mb-2">
                    <a th:href="@{/Detail/{id}(id=${list[3].id})}">
                        <h3 class="text-lg font-bold" th:text="${list[3].name}"></h3>
                    </a>
                    <div class="flex items-center space-x-2 mb-2">
                        <span class="text-yellow-500">★★★★☆</span>
                        <span>4/5</span>
                    </div>
                    <div class="flex items-center space-x-2" th:if="${list[3].priceDiscount > 0}">
                        <span class="text-xl font-bold" th:text="${list[3].priceDiscount} +' VNĐ'"></span>
                        <span class="line-through text-zinc-500" th:text="${list[3].price} +' VNĐ'"></span>
                        <span class="text-red-500" th:text="'-'+${list[3].discountId.discount}+'%'"></span>
                    </div>
                    <div class="flex items-center space-x-2" th:unless="${list[3].priceDiscount > 0}">
                        <span class="text-xl font-bold" th:text="${list[3].price} +' VNĐ'"></span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </div>

</div>

</body>
</html>