<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{Layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <link rel="stylesheet" th:href="@{output.css}">
</head>

<body>
<div class="bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100">
    <div class="container-fluid" layout:fragment="Content1">

        <div style="background-image: url('/images/bgim.jpg');  background-position: center; ">
            <section class="container mx-auto py-16 px-6 text-center" >
                <h1 class="text-4xl font-bold mb-4">Find Clothes That Matches Your Style</h1>
                <p class="mb-8">Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
                <button class="bg-black text-white px-6 py-2 rounded-lg">Shop Now</button>
                <div class="flex justify-center space-x-8 mt-8">
                    <div>
                        <p class="text-xl font-bold">200+</p>
                        <p>International Brands</p>
                    </div>
                    <div>
                        <p class="text-xl font-bold">2,000+</p>
                        <p>High-Quality Products</p>
                    </div>
                    <div>
                        <p class="text-xl font-bold">30,000+</p>
                        <p>Happy Customers</p>
                    </div>
                </div>
            </section>
        </div>
        <section class="bg-zinc-100 dark:bg-zinc-800 py-8">
            <div class="container mx-auto flex justify-around">
                <a href="link-to-versace" class="h-12">
                    <img src="/images/logo-acer-149x40.png" alt="Versace" class="h-full">
                </a>
                <a href="link-to-zara" class="h-12">
                    <img src="/images/logo-asus-149x40.png" alt="Zara" class="h-full">
                </a>
                <a href="link-to-gucci" class="h-12">
                    <img src="/images/logo-dell-149x40.png" alt="Gucci" class="h-full">
                </a>
                <a href="link-to-prada" class="h-12">
                    <img src="/images/logo-hp-149x40-1.png" alt="Prada" class="h-full">
                </a>
                <a href="link-to-calvin-klein" class="h-12">
                    <img src="/images/logo-lenovo-149x40.png" alt="Calvin Klein" class="h-full">
                </a>
                <a href="link-to-calvin-klein" class="h-12">
                    <img src="/images/logo-macbook-149x40.png" alt="Calvin Klein" class="h-full">
                </a>

            </div>
        </section>

        <section class="container mx-auto py-16 px-6" style="background-color: #F9E79F;">
            <h2 class="text-3xl font-bold mb-8 text-center">Deal Sốc</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
                <div  th:each="product : ${sales}">
                    <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow">
                        <img th:src="@{${product.images[0]}}"  class="w-full h-48 object-cover rounded-lg mb-4">
                        <a th:href="@{/Detail/{id}(id=${product.id})}" >
                            <h3 class="font-bold" th:text="${product.name}"></h3>
                        </a>
                        <div class="flex items-center mb-2">
                            <span class="text-yellow-500">★★★★☆</span>
                            <span class="ml-2 text-zinc-600 dark:text-zinc-400">4.5/5</span>
                        </div>
<!--                        <p class="text-lg font-bold">$120</p>-->
                            <p class="line-through text-zinc-500" th:text="${product.price} + ' VNĐ'"></p>
                            <span th:if="${product.priceDiscount != null}">
                                 <p class="text-lg font-bold" th:text="${product.priceDiscount}+' VNĐ'"></p>
                                 <p class="text-red-500" th:text="'-'+${product.discountId.discount}+'%'"></p>
                            </span>
                    </div>

                </div>

            </div>
            <div class="text-center mt-8">
                <button class="bg-zinc-200 dark:bg-zinc-700 text-zinc-900 dark:text-zinc-100 px-6 py-2 rounded-lg">View All</button>
            </div>
        </section>

        <section class="container mx-auto py-16 px-6" style="background-color: #FADBD8;">
            <h2 class="text-3xl font-bold mb-8 text-center">Nổi bật</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

                <div  th:each="product : ${products}">
                    <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow">
                        <img th:src="@{${product.images[0]}}"  class="w-full h-48 object-cover rounded-lg mb-4">
                        <a th:href="@{/Detail/{id}(id=${product.id})}" >
                            <h3 class="font-bold" th:text="${product.name}"></h3>
                        </a>
                        <div class="flex items-center mb-2">
                            <span class="text-yellow-500">★★★★☆</span>
                            <span class="ml-2 text-zinc-600 dark:text-zinc-400">4.5/5</span>
                        </div>
                        <!--                        <p class="text-lg font-bold">$120</p>-->
                        <span th:if="${product.priceDiscount > 0}">
                            <p class="line-through text-zinc-500" th:text="${product.price} + ' VNĐ'"></p>
                                 <p class="text-lg font-bold" th:text="${product.priceDiscount}+' VNĐ'"></p>
                                 <p class="text-red-500" th:text="'-'+${product.discountId.discount}+'%'"></p>
                        </span>
                        <span th:unless="${product.priceDiscount > 0}">
                                <p class="text-lg font-bold" th:text="${product.price}+' VNĐ'"></p>
                        </span>
                    </div>
            </div>
            </div>
            <div class="text-center mt-8">
                <button class="bg-zinc-200 dark:bg-zinc-700 text-zinc-900 dark:text-zinc-100 px-6 py-2 rounded-lg">View All</button>
            </div>
        </section>


        <section class="container mx-auto py-16 px-6" style="background-color: #3498DB;">
            <h2 class="text-3xl font-bold mb-8 text-center">MacBook</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
                <div  th:each="product : ${macbooks}">
                    <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow">
                        <img th:src="@{${product.images[0]}}"  class="w-full h-48 object-cover rounded-lg mb-4">
                        <a th:href="@{/Detail/{id}(id=${product.id})}" >
                            <h3 class="font-bold" th:text="${product.name}"></h3>
                        </a>
                        <div class="flex items-center mb-2">
                            <span class="text-yellow-500">★★★★☆</span>
                            <span class="ml-2 text-zinc-600 dark:text-zinc-400">4.5/5</span>
                        </div>
                        <!--                        <p class="text-lg font-bold">$120</p>-->
                        <span th:if="${product.priceDiscount > 0}">
                            <p class="line-through text-zinc-500" th:text="${product.price} + ' VNĐ'"></p>
                                 <p class="text-lg font-bold" th:text="${product.priceDiscount}+' VNĐ'"></p>
                                 <p class="text-red-500" th:text="'-'+${product.discountId.discount}+'%'"></p>
                        </span>
                        <span th:unless="${product.priceDiscount > 0}">
                                <p class="text-lg font-bold" th:text="${product.price}+' VNĐ'"></p>
                        </span>
                    </div>
                </div>

            </div>
            <div class="text-center mt-8">
                <button class="bg-zinc-200 dark:bg-zinc-700 text-zinc-900 dark:text-zinc-100 px-6 py-2 rounded-lg">View All</button>
            </div>
        </section>

    </div>

</div>
</body>
</html>