<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100">

    <header class="border-b border-zinc-200 dark:border-zinc-700">
        <div class="container mx-auto flex justify-between items-center py-4 px-6">
            <a th:href="@{/}" class="text-2xl font-bold">SHOP.CO</a>
            <nav class="space-x-4">
                <a th:href="@{/}" class="hover:text-zinc-700 dark:hover:text-zinc-300">Trang chủ</a>
                <a th:href="@{/Product}" class="hover:text-zinc-700 dark:hover:text-zinc-300">Sản phẩm</a>
                <a th:href="@{/cart}" class="hover:text-zinc-700 dark:hover:text-zinc-300">Giỏ Hàng</a>
<!--                <a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Brands</a>-->
            </nav>
            <form th:action="@{/Product}" method="post">
                <div class="flex items-center space-x-4">
                    <input type="text" name="search" placeholder="Tìm kiếm sản phẩm theo tên" class="border rounded-lg px-3 py-1 dark:bg-zinc-800 dark:border-zinc-700">
                    <button class="border rounded-lg px-3 py-1 dark:bg-zinc-800 dark:border-zinc-700" style="background-color: Black; color: White;">Tìm kiếm</button>
                    <div sec:authorize="isAuthenticated()">
                        <span>Xin chào, <span th:text="${#authentication.name}"></span>!</span>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a th:href=@{/login} class="hover:text-zinc-700 dark:hover:text-zinc-300">Đăng nhập</a>
                    </div>
                </div>
            </form>
        </div>
    </header>

<!--    Nội dung chính-->

    <div class="container-fluid" layout:fragment="Content1">


    </div>

    <footer class="bg-zinc-100 dark:bg-zinc-800 py-16">
        <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            <div>
                <a th:href="@{/}" class="font-bold mb-4">SHOP.CO</a>
<!--                <p>We have clothes that suit your style and which you're proud to wear. From women to men.</p>-->
            </div>
            <div>
                <h3 class="font-bold mb-4">Company</h3>
                <ul>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">About</a></li>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Features</a></li>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Works</a></li>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Career</a></li>
                </ul>
            </div>
            <div>
                <h3 class="font-bold mb-4">Help</h3>
                <ul>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Customer Support</a></li>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Delivery Details</a></li>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Terms & Conditions</a></li>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Privacy Policy</a></li>
                </ul>
            </div>
            <div>
                <h3 class="font-bold mb-4">Resources</h3>
                <ul>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Free eBooks</a></li>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">Development Tutorial</a></li>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">How-to Blogs</a></li>
                    <li><a href="#" class="hover:text-zinc-700 dark:hover:text-zinc-300">YouTube Playlist</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-8">
            <p>Shop.co © 2000-2023. All Rights Reserved</p>
        </div>
    </footer>
</div>
</body>
</html>